<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %} - TED</title>
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'map/img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'map/css/style.css' %}">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
</head>

<body class="bg-slate-50 text-gray-800 dark:bg-black dark:text-white bg-repeat">
    {% include 'nav.html' %}
    <div id="alertMessage" class="rounded-md bg-yellow-100 p-4 mt-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <h3 class="text-sm font-bold text-yellow-800">Data Note</h3>
            <div class="mt-2 text-sm text-yellow-800">
              <p>The Dashboard is not currently fully complete. Please use data with caution.</p>
            </div>
          </div>
        </div>
      </div>      
    {% block content %}
    {% endblock %}
</body>

<footer class="text-gray-600">
    <div class="px-10 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
            href="https://transitcenter.org/">
            <img class="h-6 mr-3 sm:h-9" src="{% static 'map/img/tc-logo.png' %}" alt="TransitCenter Logo">
        </a>
        </a>
        <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2024
            TransitCenter. TED2 was proudly built by <a class="text-blue-400 hover:text-blue-600"
                href="https://www.klumpentown.com/">Klumpentown
                Consulting</a>.
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a href="/changelog" class="text-sm text-gray-500 hover:text-gray-900">
                {% include 'version.html' %}
            </a>
        </span>
    </div>
</footer>

{% block scripts %}
{% endblock %}