<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %} - TED</title>
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'map/img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'map/css/style.css' %}">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
</head>

<body class="bg-slate-50 text-gray-600 dark:bg-black dark:text-white bg-repeat">
    {% include 'nav.html' %}
    {% block content %}
    {% endblock %}
</body>

<footer class="text-gray-600">
    <div class="px-10 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
            href="https://transitcenter.org/">
            <img class="h-6 mr-3 sm:h-9" src="{% static 'map/img/tc-logo.png' %}" alt="TransitCenter Logo">
        </a>
        </a>
        <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2024
            TransitCenter. TED2 was proudly built by <a class="text-blue-400 hover:text-blue-600"
                href="https://www.klumpentown.com/">Klumpentown
                Consulting</a>.
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a href="/changelog" class="text-sm text-gray-500 hover:text-gray-900">
                {% include 'version.html' %}
            </a>
        </span>
    </div>
</footer>

{% block scripts %}
{% endblock %}