{% extends 'map/base.html' %}
{% block title %} What's New? {% endblock %}

{% block content %}
<main class=" text-gray-600 ">
    <div class="py-10">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div
                class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                <div>
                    <h2
                        class="text-base font-semibold leading-7 text-indigo-600">
                        June 2024</h2>
                    <p
                        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Version
                        2.0</p>
                    <p class="mt-6 text-base leading-7 text-gray-600">The 2.0
                        version of TED includes a number of major updates to the
                        methdology, data analysis and storage, and website
                        design. Here are some highlights:</p>
                </div>
                <dl
                    class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-gray-600 sm:grid-cols-2 lg:gap-y-16">
                    <div class="relative pl-9">
                        <dt class="font-semibold text-gray-900">
                            <svg
                                class="absolute left-0 top-1 h-5 w-5 text-indigo-500"
                                viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                    clip-rule="evenodd" />
                            </svg>
                            New Travel Times
                        </dt>
                        <dd class="mt-2">All travel times across all dates were
                            recomputed using the powerful <a
                                href="https://r5py.readthedocs.io/en/stable/">r5py</a>
                            library built on the <a
                                href="https://github.com/conveyal/r5">R5</a>
                            engine.</dd>
                    </div>
                    <div class="relative pl-9">
                        <dt class="font-semibold text-gray-900">
                            <svg
                                class="absolute left-0 top-1 h-5 w-5 text-indigo-500"
                                viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                    clip-rule="evenodd" />
                            </svg>
                            New Fares
                        </dt>
                        <dd class="mt-2">Fares were recomputed for all regions
                            and updated using 2023 fares for select
                            regions.</dd>
                    </div>
                    <div class="relative pl-9">
                        <dt class="font-semibold text-gray-900">
                            <svg
                                class="absolute left-0 top-1 h-5 w-5 text-indigo-500"
                                viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                    clip-rule="evenodd" />
                            </svg>
                            Regional Definition Updates
                        </dt>
                        <dd class="mt-2">Regional definitions were updated based
                            on urbanized area extents, instead of entire
                            Metropolitan Statistical Area definitons.</dd>
                    </div>
                    <div class="relative pl-9">
                        <dt class="font-semibold text-gray-900">
                            <svg
                                class="absolute left-0 top-1 h-5 w-5 text-indigo-500"
                                viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                    clip-rule="evenodd" />
                            </svg>
                            Tiled Maps
                        </dt>
                        <dd class="mt-2">Data maps now use vector tilesets,
                            hosted on Mapbox. This speeds up both data retrieval
                            and data updates.</dd>
                    </div>
                    <div class="relative pl-9">
                        <dt class="font-semibold text-gray-900">
                            <svg
                                class="absolute left-0 top-1 h-5 w-5 text-indigo-500"
                                viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                    clip-rule="evenodd" />
                            </svg>
                            New Website Look
                        </dt>
                        <dd class="mt-2">The dashboard has a new look and feel,
                            and includes some key backend structural to make updates
                            easier.</dd>
                    </div>
                    <div class="relative pl-9">
                        <dt class="font-semibold text-gray-900">
                            <svg
                                class="absolute left-0 top-1 h-5 w-5 text-indigo-500"
                                viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                    clip-rule="evenodd" />
                            </svg>
                            Additional and Refined Measures
                        </dt>
                        <dd class="mt-2">90-minute cumulative travel time
                            measures are added for access to jobs. Travel time
                            access to early voting locations added.
                            Time-period-specific transit service intensity
                            measures added.</dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    {% for changelog in changelogs %}
    <div class="py-10">
        <div class="mx-auto max-w-7xl px-6 lg:px-8 py-10 border-t">
            <div
                class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                <div>
                    <h2
                        class="text-base font-semibold leading-7 text-indigo-600">
                        {{ changelog.date }}</h2>
                    <p
                        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Version
                        {{ changelog.version }}</p>
                </div>
                <div>
                    <p class="leading-relaxed">{{ changelog.description }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}