<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>TransitCenter Equity Dashboard</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" href="{% static 'map/css/style.css' %}">
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{% static 'map/css/materialize.min.css' %}"> -->
</head>

<body class="min-h-screen bg-slate-50 dark:bg-black dark:text-white bg-repeat">
  <!-- <header class="text-black bg-transparent sticky top-0 z-20 h-0">
    <nav class="max-w-full mx-auto p-4 flex text-3xl">
      <ul class="absolute right-0 flex text-xl font-bold">
        <li class="mr-6"><a href="#" class="text-slate-600 hover:text-slate-900">How it Works</a></li>
        <li class="mr-6"><a href="#" class="text-slate-600 hover:text-slate-900">Active</a></li>
      </ul>
    </nav>
  </header> -->
  <div class="absolute right-0 bottom-5 z-50">
    <a href="http://transitcenter.org"><img src="{% static 'map/img/tc-logo.png' %}" width="150px"></a>
  </div>
  <div
    class="w-1/3 max-w-screen-lg absolute right-0 max-h-[90%] mb-20 mr-5 mt-5 z-30 overflow-auto bg-white rounded-xl border-2 text-sm">
    <div id="main-text" class="p-6 pl-8">

      <div id="start-text"><a class="text-2xl" href="http://transitcenter.org"><b
            class="text-purple-tc">TransitCenter</b> Equity Dashboard</a>

        <p class="py-3">Public transportation can offer a "ladder of opportunity",
          providing affordable and convenient connections to jobs, goods and
          services, medical care, and other essentials of daily life. But pervasive
          racism and discrimination in land use, transportation, and transit
          planning have created wide gaps in transit access across race, income, and
          other characteristics, exacerbating social inequity.</p>

        <p class="pb-3">This dashboard measures how well transit networks in seven
          U.S. cities connect people who've been marginalized within those metro
          areas to the jobs, services, and amenities they need to thrive. We look at
          metrics like the number of jobs people can reach within a limited
          timeframe or budget, travel times to hospitals and grocery stores, and
          service frequency, and tracks how these measures have changed in each
          region since Feburary of 2020.
        </p>

        <p>Choose one of the regions from the map to zoom in and learn more, or read about <a class='text-purple-tc'
            href="/methodology">how it works</a>.</p>
      </div>

      <div id="BOS-text" style="display: none" ;>

        <b class="text-2xl">Boston, Massachusetts</b>

        <ul class="list-disc py-3">
          <li>Transit provides less access to opportunities for Black and Latinx residents than other residents.</li>
          <li>Transportation and development patterns create longer transit trips to healthcare and food.</li>
          <li>Expensive fares put opportunity out of reach for some riders.</li>
        </ul>

        <p class="pb-3">In the Washington metropolitan statistical area in 2021, 7% of Black workers, 6% of Latinx
          workers, and 3% of Asian workers - compared to 2% of white workers - took transit to work. Since the start of
          the COVID-19 pandemic, people of color have been far more likely than white people to continue to travel to
          and from work. In 2021, 29% of Black workers, 19% of Latinx workers, 40% of Asian workers, and 38% of white
          workers living in the Washington region worked remotely.</p>

        <p class="pb-3">Choose one of the regions from the map to zoom in and learn more, or read about <a
            class='text-purple-tc' href="/methodology">how it works</a>.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>
      </div>

      <div id="CHI-text" style="display: none" ;>

        <b class="text-2xl">Chicago, Illinois</b>

        <ul class="list-disc py-3">
          <li>Transit provides less access to opportunities for Black and Latinx residents than other residents.</li>
          <li>Transportation and development patterns create longer transit trips to healthcare and food.</li>
          <li>Expensive fares put opportunity out of reach for some riders.</li>
        </ul>

        <p class="pb-3">In the Washington metropolitan statistical area in 2021, 7% of Black workers, 6% of Latinx
          workers, and 3% of Asian workers - compared to 2% of white workers - took transit to work. Since the start of
          the COVID-19 pandemic, people of color have been far more likely than white people to continue to travel to
          and from work. In 2021, 29% of Black workers, 19% of Latinx workers, 40% of Asian workers, and 38% of white
          workers living in the Washington region worked remotely.</p>

        <p class="pb-3">Choose one of the regions from the map to zoom in and learn more, or read about <a
            class='text-purple-tc' href="/methodology">how it works</a>.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>
      </div>

      <div id="LA-text" style="display: none" ;>

        <b class="text-2xl">Los Angeles, California</b>

        <ul class="list-disc py-3">
          <li>Transit provides less access to opportunities for Black and Latinx residents than other residents.</li>
          <li>Transportation and development patterns create longer transit trips to healthcare and food.</li>
          <li>Expensive fares put opportunity out of reach for some riders.</li>
        </ul>

        <p class="pb-3">In the Washington metropolitan statistical area in 2021, 7% of Black workers, 6% of Latinx
          workers, and 3% of Asian workers - compared to 2% of white workers - took transit to work. Since the start of
          the COVID-19 pandemic, people of color have been far more likely than white people to continue to travel to
          and from work. In 2021, 29% of Black workers, 19% of Latinx workers, 40% of Asian workers, and 38% of white
          workers living in the Washington region worked remotely.</p>

        <p class="pb-3">Choose one of the regions from the map to zoom in and learn more, or read about <a
            class='text-purple-tc' href="/methodology">how it works</a>.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>
      </div>

      <div id="NYC-text" style="display: none" ;>

        <b class="text-2xl">New York, New York</b>

        <ul class="list-disc py-3">
          <li>Transit provides less access to opportunities for Black and Latinx residents than other residents.</li>
          <li>Transportation and development patterns create longer transit trips to healthcare and food.</li>
          <li>Expensive fares put opportunity out of reach for some riders.</li>
        </ul>

        <p class="pb-3">In the Washington metropolitan statistical area in 2021, 7% of Black workers, 6% of Latinx
          workers, and 3% of Asian workers - compared to 2% of white workers - took transit to work. Since the start of
          the COVID-19 pandemic, people of color have been far more likely than white people to continue to travel to
          and from work. In 2021, 29% of Black workers, 19% of Latinx workers, 40% of Asian workers, and 38% of white
          workers living in the Washington region worked remotely.</p>

        <p class="pb-3">Choose one of the regions from the map to zoom in and learn more, or read about <a
            class='text-purple-tc' href="/methodology">how it works</a>.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>
      </div>

      <div id="PHL-text" style="display: none" ;>

        <b class="text-2xl">Philadelphia, Pennsylvania</b>

        <ul class="list-disc py-3">
          <li>Transit provides less access to opportunities for Black and Latinx residents than other residents.</li>
          <li>Transportation and development patterns create longer transit trips to healthcare and food.</li>
          <li>Expensive fares put opportunity out of reach for some riders.</li>
        </ul>

        <p class="pb-3">In the Washington metropolitan statistical area in 2021, 7% of Black workers, 6% of Latinx
          workers, and 3% of Asian workers - compared to 2% of white workers - took transit to work. Since the start of
          the COVID-19 pandemic, people of color have been far more likely than white people to continue to travel to
          and from work. In 2021, 29% of Black workers, 19% of Latinx workers, 40% of Asian workers, and 38% of white
          workers living in the Washington region worked remotely.</p>

        <p class="pb-3">Choose one of the regions from the map to zoom in and learn more, or read about <a
            class='text-purple-tc' href="/methodology">how it works</a>.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>
      </div>

      <div id="SFO-text" style="display: none" ;>

        <b class="text-2xl">San Francisco - Oakland, California</b>

        <ul class="list-disc py-3">
          <li>Transit provides less access to opportunities for Black and Latinx residents than other residents.</li>
          <li>Transportation and development patterns create longer transit trips to healthcare and food.</li>
          <li>Expensive fares put opportunity out of reach for some riders.</li>
        </ul>

        <p class="pb-3">In the Washington metropolitan statistical area in 2021, 7% of Black workers, 6% of Latinx
          workers, and 3% of Asian workers - compared to 2% of white workers - took transit to work. Since the start of
          the COVID-19 pandemic, people of color have been far more likely than white people to continue to travel to
          and from work. In 2021, 29% of Black workers, 19% of Latinx workers, 40% of Asian workers, and 38% of white
          workers living in the Washington region worked remotely.</p>

        <p class="pb-3">Choose one of the regions from the map to zoom in and learn more, or read about <a
            class='text-purple-tc' href="/methodology">how it works</a>.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>
      </div>

      <div id="WAS-text" style="display: none" ;>

        <b class="text-2xl">Washington, D.C.</b>

        <ul class="list-disc py-3">
          <li>Transit provides less access to opportunities for Black and Latinx residents than other residents.</li>
          <li>Transportation and development patterns create longer transit trips to healthcare and food.</li>
          <li>Expensive fares put opportunity out of reach for some riders.</li>
        </ul>

        <p class="pb-3">In the Washington metropolitan statistical area in 2021, 7% of Black workers, 6% of Latinx
          workers, and 3% of Asian workers - compared to 2% of white workers - took transit to work. Since the start of
          the COVID-19 pandemic, people of color have been far more likely than white people to continue to travel to
          and from work. In 2021, 29% of Black workers, 19% of Latinx workers, 40% of Asian workers, and 38% of white
          workers living in the Washington region worked remotely.</p>

        <p class="pb-3">Choose one of the regions from the map to zoom in and learn more, or read about <a
            class='text-purple-tc' href="/methodology">how it works</a>.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>

        <p class="pb-3">We evaluated the extent to which residents of the Washington D.C. region have equitable transit
          access to jobs, stores, hospitals, and other important destinations. Do people with the greatest need for
          transit have the best access to fast, frequent, reliable, affordable service close to home? This page
          summarizes disparities in transit access between different groups of people, and shows how those outcomes have
          shifted (or not) as a result of service changes since February 2020. Evaluations are based on the combined
          services provided by all transit agencies in the Washington D.C. region.</p>
      </div>





    </div>



  </div>
  <div class="min-h-screen absolute top-0 left-0 right-0 bottom-0 z-10" id="map"></div>
  <main class="max-w-7xl mx-auto grid justify-items-center gap-12">
  </main>

  <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
  <script src="{% static 'map/js/regions.js' %}"></script>
  <script src="{% static 'map/js/styles.js' %}"></script>
  <script src="{% static 'map/js/map.js' %}"></script>
</body>