<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>TransitCenter Equity Dashboard</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'map/img/favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'map/css/style.css' %}">
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{% static 'map/css/materialize.min.css' %}"> -->
</head>

<body class="min-h-screen bg-slate-50 dark:bg-black dark:text-white bg-repeat">
  <main>
    <div class="absolute right-0 bottom-5 z-50">
      <div class="p-2">
        <a href="http://transitcenter.org"><img src="{% static 'map/img/tc-logo.png' %}" width="150px"></a>
      </div>
    </div>
    <div id="options" class="w-1/5 max-w-screen-md absolute left-0 ml-3 mt-3 bg-white rounded-xl border-2 text-sm z-30">
      <div class="p-3 grid gap-y-3">
        <div class="grid-cols-1">
          <div>
            <a href="/">
              <h2 class="text-md font-bold text-gray-600">TransitCenter Equity Dashboard</h2>
            </a>
          </div>
          <nav class="md:ml-auto flex flex-wrap items-center text-base cursor-pointer">
            <a class="mr-5 hover:text-gray-900 text-sm" href="/">Home</a>
            <a class="mr-5 hover:text-gray-900 text-sm" href="/charts">Charts</a>
            <a class="mr-5 hover:text-gray-900 text-sm" href="/data">Data</a>
            <a class="mr-5 hover:text-gray-900 text-sm" href="/about">About</a>
          </nav>
        </div>
        <div class="max-w-screen-md border-t pt-2">
          <h2 class="text-lg font-bold">Customize This Map</h2>
          <p>Explore spatial patterns of access to opportunity in each region.
            Adjust the settings to select the metric to display on the map.</p>
          <p id="context" class="italic pt-2">Choose a city marker or zoom into a city to see data.</p>
        </div>
        <div class="max-w-screen-md">
          <label for="date" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Date</label>
          <select id="date" , onchange="dateChanged(this)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </select>
        </div>
        <div>
          <label for="opportunity"
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Opportunity</label>
          <select id="opportunity" onchange="opportunityChanged(this)"
            class="bg-gray-50 border border-gray-2.300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="C000" selected>Jobs</option>
            <option value="acres">Park Space</option>
            <option value="hospitals">Hospitals</option>
            <option value="urgent_care_facilities">Urgent Care Facilities</option>
            <option value="pharmacies">Pharmacies</option>
            <option value="education">Colleges & Universities</option>
            <option value="grocery">Supermarkets</option>
            <option value="early_voting">Early Voting Locations</option>
            <option value="tsi">Transit Service Intensity</option>
          </select>
        </div>
        <div>
          <label for="period" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Time Period</label>
          <select id="period" onchange="periodChanged(this)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="WEDAM" selected>Weekday Morning</option>
            <option value="WEDPM">Weekday Night</option>
            <option value="SATAM">Saturday Morning</option>
          </select>
        </div>
        <div>
          <label for="tripOptions" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Trip
            Options</label>
          <select id="tripOptions" onchange="tripOptionChanged(this)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="c30">30 minutes</option>
            <option value="c45" selected>45 minutes</option>
            <option value="c60">60 minutes</option>
            <option value="c90">90 minutes</option>
          </select>
        </div>
        <div>
          <label for="affordableTrips" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Affordable
            Trips</label>
          <select id="affordableTrips" onchange="affordableTripsChanged(this)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="all">All Trips</option>
            <option value="2020">Affordable (2020)</option>
            <option value="2023">Affordable (2023 where available)</option>
          </select>
        </div>
        <div>
          <label for="auto" class="relative inline-flex items-center cursor-pointer">
            <input id="auto" type="checkbox" value="" class="sr-only peer" onchange="autoCompareChanged(this)">
            <div
              class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
            </div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Compare to Auto</span>
          </label>
        </div>
        <div>
          <label for="period" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Demographics</label>
          <select id="period"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option selected>No Demographic</option>
            <option value="poverty">1 dot = 50 people in poverty</option>g
            <option value="black">1 dot = 20 Black people</option>
            <option value="zero_car">1 dot = 25 Zero-car households</option>
          </select>
        </div>
        <div>
          <label class="relative inline-flex cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" onchange="showTransitLinesChanged(this)">
            <div
              class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
            </div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300 ">Show Transit Lines</span>
          </label>
        </div>
        <div class="pt-3 border-t border-t-dashed grid-cols-1 justify-center text-center">
          <div class="w-full justify-center"><b id="legendTitle">Access to Jobs</b></div>
          <div id="legend" class="flex w-full justify-center items-center"></div>
        </div>
      </div>
    </div>
    <div class="min-h-screen absolute top-0 left-0 right-0 bottom-0 z-10" id="map"></div>
  </main>

  <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
  <script src="{% static 'map/js/d3.v7.min.js' %}"></script>
  <script src="{% static 'map/js/regions.js' %}"></script>
  <script src="{% static 'map/js/mapControl.js' %}"></script>
  <script src="{% static 'map/js/styles.js' %}"></script>
  <script src="{% static 'map/js/map.js' %}"></script>
</body>